@model IEnumerable<Texter.Models.Contact>

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<h2>Here is your list of tasks, @User.Identity.Name</h2>

@if (Model.Any())
{
    <ul>
        @foreach (var listItem in Model)
        {
            <li>@Html.DisplayFor(modelItem => listItem.Description)</li>
        }
    </ul>
}
else
{
    <p>No Contacts Added Yet!</p>
}

<div class="indexviews">
    <h2>Contacts</h2>
    <hr />
    <table class="table">
            <tr>
                <th>
                      @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                      @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                      @Html.DisplayNameFor(model => model.PhoneNo)
                </th>

                <th></th>
            </tr>

            @foreach (var listContact in Model)
            {
                <tr>
                    <td>
                        <a>@Html.DisplayFor(x => listContact.FirstName)</a>
                    </td>
                    <td>
                          @Html.DisplayFor(x => listContact.LastName)
                    </td>
                    <td>
                          @Html.DisplayFor(x => listContact.PhoneNo)
                    </td>


                </tr>
            }
    </table>

    <p>
        @Html.ActionLink("Add New Contact", "Create")
    </p>

    <p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
